@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* em {
    color: #AAAAAA;
    font-style: normal;
}

* h7 {
    font-size: 10px;
    margin-left: 10px;
    color: #505050;
    font-style: italic;
}


html,
body {
    font-family: 'roboto';
    width: 375px;
    margin: auto auto;
    background-color: rgb(218, 218, 218);
}

.side-bar,
.transp-bar,
.menu {
    box-sizing: border-box;
    height: 100%;
    z-index: 3;
    bottom: 0;
}

.transp-bar {
    width: 30%;
    background-color: rgba(14, 13, 13, 0.7);
}

.menu {
    width: 70%;
    background-color: #FFFFFF;
    text-align: start;
    padding: 20px;
}

.menu ion-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu div {
    display: flex;
    align-items: center;
}

.menu div:hover {
    cursor: pointer;
}

.menu h3 {
    text-align: center;
}

.direct {
    flex-direction: column;
    max-height: 30%;
    overflow-y: scroll;
}

.direct>div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.side-bar {
    position: absolute;
    width: 375px;
    bottom: 0;
    display: flex;
}

.visibilidade {
    flex-direction: column;
}

.visibilidade>div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.checkmark {
    color: #28BB25;
    height: 100%;
}

body div {
    box-sizing: border-box;

}

.entrada {
    background-color: #E5E5E5;
    height: 100%;
}

.entrada>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo {
    height: 250px;
}

.container-input {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loading {
    width: 100px;
}

.container-input>input {
    width: 261px;
    height: 54px;
    text-align: center;
    outline: none;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-family: 'roboto';
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

.container-input>input::placeholder {
    font-family: 'roboto';
    color: #AEAEAE;
    font-weight: 400;
    font-size: 18px;
}

.btn {
    width: 109px;
    height: 46px;
    background-color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
}

.btn:hover {
    cursor: pointer;
}




.hidden {
    visibility: hidden;
}

.page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom:80px ;
    background-color: #f3f3f3;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.header {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    box-shadow: 0 4px 2px rgb(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
}

.header img:first-of-type {
    height: 75px;
    height: 53px;
}
.header img:hover {
    cursor: pointer;
}

.bottom {
    background-color: #FFFFFF;
    width: 375px;
    height: 80px;
    padding: 0 20px;
    box-shadow: 0 -4px 2px rgb(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.bottom div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
}

.bottom input {
    width: 100%;
    height: 90%;
    outline: none;
    border: none;
    font-family: 'roboto';
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}

.bottom input::placeholder {
    font-family: 'roboto';
    color: #000000;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

.bottom ion-icon {
    margin-left: 14px;
    width: 26px;
    height: 26px;
}

.bottom ion-icon:hover {
    cursor: pointer;
}

.container-msg {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.entrada div:last-of-type {
    display: flex;
    flex-direction: column;

}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    min-height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    line-break: anywhere;
    border-radius: 4px;

}
.msg p {
    margin:0 5px;
}


.hora {
    margin: 0 10px;
}

.page::-webkit-scrollbar {
    width: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body {
    height: 100%;
}

.entrada {
    height: 100%;
}

.page {
    height: 100%;
}

.entrou {
    background-color: #DCDCDC;
}

.reservada {
    background-color: #FFDEDE;
}

.stat {
    justify-content: center;
    color: green;
}

.escondido {
    display: none;
}
.side-bar{
    overflow-y: auto;
}

.menu h3:last-of-type {
    margin-bottom: 2px;
}

@media screen and (max-width: 610px) {

    .entrada,
    .page,
    html,
    body {
        height: 100%;
    }

    html,
    body,
    .header,
    .bottom,
    .side-bar {
        width: 100%;
    }

    .side-bar {
        height: 100%;   
    }
    .side-bar .escondido {

    }

    .page::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}